<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,intial-scale=1" />
    <title>Fullstack Captsone</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="../css/pagination.css" rel="stylesheet" type="text/css" />
    <link href="../css/float-grid.css" rel="stylesheet" type="text/css" />
    <link href="../css/main.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="row nav-bar">
      <div class="col-12">
        <header role="navigation">
          <ul class="nav-list">
            <li class="app-title">
              <div class="app-name">
                <img
                  class="recycle-symbol"
                  src="..\images\recycle-symbol.png"
                  alt="recycle symbol"
                  height="30"
                  width="30"
                />recycle-app
              </div>
            </li>
            <li class="nav-button"><a class="profile">Profile</a></li>
            <li class="nav-button"><a class="add-item">Add Item</a></li>
            <li class="nav-button"><a class="logout">Logout</a></li>
          </ul>
        </header>
      </div>
    </div>

    <main role="main">
      <div class="row">
        <div class="col-6">
          <section role="region" class="user-profile">
            <h2>User Profile</h2>
            <div class="results"></div>
            <div class="page-results"></div>
          </section>
        </div>
        <div class="col-6">
          <section role="region" class="summary"></section>
          <h2>Summary of Purchases</h2>
          <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        </div>
      </div>
      <div class="row"></div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://underscorejs.org/underscore-min.js"></script>
    <script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    <script
      type="text/javascript"
      src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"
    ></script>
    <script src="../js/local.js"></script>
    <script src="../js/api.js"></script>
    <script src="../js/pagination.js"></script>
    <script src="../js/profile.js"></script>
  </body>
</html>
